<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="ThemeBucket">
	<link rel="shortcut icon" href="#" type="image/png">

	<title>Dynamic Table</title>

	<!--dynamic table-->
	<link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet"/>
	<link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
	<link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>

	<div th:include="common :: #common_header"></div>
</head>

<body class="sticky-header">

<section>
	<!-- left side start-->
	<div th:replace="common :: left_menu"></div>
	<!-- left side end-->

	<!-- main content start-->
	<div class="main-content">

		<!-- header section start-->
		<div th:replace="common :: header_menu"></div>
		<!-- header section end-->

		<!-- page heading start-->
		<div class="page-heading">
			<h3>
				Dynamic Table
			</h3>
			<ul class="breadcrumb">
				<li>
					<a href="#">Dashboard</a>
				</li>
				<li>
					<a href="#">Data Tables</a>
				</li>
				<li class="active"> Dynamic Table</li>
			</ul>
		</div>
		<!-- page heading end-->

		<!--body wrapper start-->
		<div class="wrapper">
			<div class="row">
				<div class="col-sm-12">
					<section class="panel">
						<header class="panel-heading">
							Dynamic Table
							<span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
						</header>
						<div class="panel-body">
							<div class="adv-table">
								<table class="display table table-bordered table-striped" id="dynamic-table">
									<thead>
									<tr>
										<th style="text-align: center">序号</th>
										<th style="text-align: center">员工ID</th>
										<th style="text-align: center">员工姓名</th>
										<th style="text-align: center">年龄</th>
										<th style="text-align: center">邮箱</th>
										<th style="text-align: center">薪水</th>
										<th colspan="2" style="text-align: center;color: red">操作</th>
										<!--<th class="hidden-phone">Engine version</th>-->
										<!--<th class="hidden-phone">CSS grade</th>-->
									</tr>
									</thead>
									<tbody>
									<tr class="gradeX" th:each="emp,statu:${page.records}">
										<td th:text="${statu.count}">Trident</td>
										<td th:text="${emp.id}">Internet
											Explorer 4.0
										</td>
										<td>[[${emp.empName}]]</td>
										<td th:text="${emp.age}">4</td>
										<td th:text="${emp.email}">X</td>
										<td th:text="${emp.sal}">X</td>
										<td>
											<a class="btn btn-danger" type="button" id="del_btn"
											   th:href="@{/delEmp/{empId}(empId=${emp.id})}">删除</a>
										</td>
										<td>
											<a class="btn btn-success" type="button"
											   th:href="@{/emp/{pageNo}/{empId}(pageNo=${page.current},empId=${emp.id})}">修改</a>
										</td>
									</tr>
									</tbody>
								</table>
								<div class="row-fluid">
									<div class="span6">
										<div class="dataTables_info" id="dynamic-table_info">当前第 【[[${page.current}]]】
											总计[[${page.pages}]]页
											共[[${page.total}]]条记录
										</div>
									</div>
									<div class="span6">
										<div class="dataTables_paginate paging_bootstrap pagination">
											<ul>
												<li class="prev disabled"><a href="#"
												                             th:href="@{'/dynamic_table/'+${page.current}}">←
													上一页</a></li>
												<li th:class="${num==page.current?'active':''}"
												    th:each="num:${#numbers.sequence(1,page.pages)}"><a
														href="#" th:href="@{'/dynamic_table/'+${num}}">[[${num}]]</a>
												</li>
												<li class="next"><a href="#">下一页 → </a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<!--body wrapper end-->

		<!--footer section start-->
		<footer>
			2020 &copy; AdminEx by ThemeBucket </a>
		</footer>
		<!--footer section end-->


	</div>
	<!-- main content end-->
</section>

<!--common scripts for all pages-->
<div th:replace="common :: #common_script"></div>


<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<!--<script src="js/dynamic_table_init.js"></script>-->


</body>
</html>
